<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body 
{
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("../images/sky.jpg");
}

* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: lightgrey;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: grey;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color:blue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

</style>
</head>
<body>

<form action="/action_page.php">
  <div class="container">
    <h1>Register</h1>
    <p>Create an account.
It's free and always will be...</p>
    <hr>
<label for="Name"><b>Name</b></label>
    <input type="text"placeholder="First Name" name="Name" required>
<label for="Name"><b></b></label>
    <input type="text" placeholder="Surname"name="Surname Name">

<form action=""<label><b>Sex</b></label><br>
  <input type="radio" name="gender" value="male"> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"required> Other
</form><br>



<br><label><b>Date of Birth</b></label><br>
                   <select id="Day">
                       <option> Day </option>
                       <option value="01"> 01 </option>
                       <option value="02"> 02 </option>
                       <option value="03"> 03 </option>
                       <option value="04"> 04 </option>
                       <option value="05"> 05 </option> 
                       <option value="06"> 06 </option>
                       <option value="07"> 07 </option>
                       <option value="08"> 08 </option>
                       <option value="09"> 09 </option>
                       <option value="10"> 10 </option> 
                       <option value="11"> 11 </option>
                       <option value="12"> 12 </option>
                       <option value="13"> 13 </option>
                       <option value="14"> 14 </option>
                       <option value="15"> 15 </option> 
                       <option value="16"> 16 </option>
                       <option value="17"> 17 </option>
                       <option value="18"> 18 </option>
                       <option value="19"> 19 </option>
                       <option value="20"> 20 </option> 
                       <option value="21"> 21 </option>
                       <option value="22"> 22 </option>
                       <option value="23"> 23 </option>
                       <option value="24"> 24 </option>
                       <option value="25"> 25 </option> 
                       <option value="26"> 26 </option>
                       <option value="27"> 27 </option>
                       <option value="28"> 28 </option>
                       <option value="29"> 29 </option>
                       <option value="30"> 30 </option> 
                       <option value="30"> 31 </option>                      
                   </select>
                   <select id="Month">
                       <option> Month </option>
                       <option value="January"> January </option>
                       <option value="Febuary"> Febuary </option>
                       <option value="March"> March </option>
                       <option value="April"> April </option>
                       <option value="May"> May </option> 
                       <option value="June"> June </option>
                       <option value="July"> July</option>
                       <option value="August"> August</option>
                       <option value="Sepetmber"> Sepetmber</option>
                       <option value="October"> October</option> 
                       <option value="November"> November</option>
                       <option value="December"> December</option>
                   </select>
                   <select id="Year">
                        <option> Year</option>
                        <option value="1996"> 1996 </option>
                        <option value="1997"> 1997 </option>
                        <option value="1998"> 1998 </option>
                        <option value="1999"> 1999 </option>
                        <option value="2000"> 2000 </option>   
                        <option value="2001"> 2001 </option>
                        <option value="2002"> 2002 </option>
                        <option value="2003"> 2003 </option>
                        <option value="2004"> 2004 </option>
                        <option value="2005"> 2005 </option> 
                        <option value="2006"> 20O6 </option>
                        <option value="2007"> 2007 </option>
                        <option value="2008"> 2008 </option>
                        <option value="2009"> 2009 </option>
                        <option value="2010"> 2010 </option> 
                        <option value="2011"> 2011 </option>
                        <option value="2012"> 2012 </option>
                        <option value="2013"> 2013 </option>
                        <option value="2014"> 2014 </option>
                        <option value="2015"> 2015 </option> 
                        <option value="2016"> 2016 </option>
                        <option value="2017"> 2017 </option>
                        <option value="2018"> 2018 </option>
                    </select><br><br>
                    <div class="checkbox">

<p><b>

<label for="phone"><b>Phone no.</b></label>
                    <select id="ph">
                        <option> +91 </option>
                        <option> +92 </option>
                        <option> +93 </option>
                        <option> +94 </option>
                        <option> +95 </option>
                    </select>
                    <input type="number" name="" placeholder="Phone No." required><br>
 
<br><label for="Email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="psw-repeat"><b></b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    <hr>
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

    <button type="submit" class="registerbtn">Register</button>
  </div>
  
  <div class="container signin">
    <p>Already have an account? <a href="loginform.html">Sign in</a>.</p>
  </div>
</form>

</body>

