<html lang="en">
<head>
  <title>Imagefactory.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
      height: 200px;
      background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0;background-color:blueviolet;">
  <h1>Welcome to Image Factory</h1>
  <p>You Capture we paid!</p> 
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"></a></li>
        <li><a href="#">Most Viewed</a></li>
       <li><a href="#">Updoads</a></li>
       <li><a href="#">About us</a></li>
        <li><a href="loginform.html">Logut</a></li>
        <li><a href="contact.html">Contact us</a></li>

    
    <li style="padding-top: 15px;"><input type="text"placeholder="Search" name="search"></li>
      <li ><a href="homepage.html"><button type="button"onclick="window.location.href="homepage.html">search</button></a></li>

       </p>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      
      <h2>MOST VIEWED</h2>
      <h5>Click for most viewed memes</h5>
      <div class="fakeimg">
          <a href="../images/viewlogo (6).png" target="_blank">
          <img src="../images/viewlogo (6).png" alt="Lights" style="width:100%" >
          <div class="caption"><br><br></div></div></a>

   <br><br><br><h3>Some Links</h3>
      <p>Where you can follow us</p>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="https://www.Facebook.com">Facebook</a></li>
        <li class="active"><a href="https://www.linkedin.com">linkedin</a></li>
        <li class="active"><a href="https://www.instagram.com">Instagram</a></li>
      </ul>

      <hr class="hidden-sm hidden-md hidden-lg">
    </div>
    <div class="col-sm-8">
       <h2>TITLE HEADING</h2>
      <h5>Beautiful starts</h5>
      <div class="fakeimg">
         <a href="../images/sky.jpg" target="_blank">
          <img src="../images/sky.jpg" alt="Lights" >
          <div class="caption"></div></a>
        
      <p>logo</p>
      <br>
      <h2>Recent Uploads</h2>
    <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="../images/.4.jpg" target="_blank">
          <img src="../images/.4.jpg" alt="Lights" style="width:100%">
          <div class="caption">
              <p>about img</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="../images/download.jpg" target="_blank">
          <img src="../images/download.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>about img</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
<div class="thumbnail">
        <a href="../images/img/download.jpg" target="_blank">
          <img src="../images/img/download.jpg" alt="Nature" style="width:100%">
          <div class="caption">
             <p>about img</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
  </a>
</div>
      <p>Some text..</p>
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div>

</body>
</html>
